fastapi
uvicorn[standard]
pydantic
python-multipart
L
loguru

crewai
crewai-tools

groq
langchain-core
langchain-groq
LiteLLM
sentence-transformers
pinecone

pypdf
pymupdf

beautifulsoup4
httpx
tenacity

# free search fallback
duckduckgo_search
crawl4ai
arxiv

pandas
pyarrow
fsspec
adlfs

# optional improvements
tqdm
