fastapi
uvicorn[standard]
pydantic
python-multipart

loguru

crewai
crewai-tools

groq
langchain-core
langchain-groq

sentence-transformers
pinecone

pypdf
pymupdf

beautifulsoup4
httpx
tenacity

pandas
pyarrow
fsspec
adlfs

# optional improvements
tqdm
